h1
  | {{marvelCtrl.title}}
.image-container
  div(ng-repeat='char in marvelCtrl.characters')
    h2
      | {{char.name}}
    img.character-image(src="{{char.thumbnail.path}}.{{char.thumbnail.extension}}")
